@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(11, 11, 11, 1);
  font-family: "Baloo 2", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: #53aba9;
  box-shadow: 4px 7px 9px 0px #00000040;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #53aba9;
  box-shadow: 4px 7px 9px 0px #00000040;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 22px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: #53aba9;
  box-shadow: 0px 9px 16px 0px #00000040;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 20px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 50px;
    padding: 10px 100px 10px 50px;

    display: flex;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;

    padding-block: 0;
    flex: 1;
    gap: 90px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }

  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 92px 15px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Home.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 344px;
  height: 187px;
}

.home-text {
  font-family: Baloo;
  font-weight: 400;
  font-size: 24px;
  line-height: 26.4px;
  letter-spacing: -1%;
  text-align: center;
  padding: 32px 0 16px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}
.home__google-button_image {
  width: 189px;
  height: 61px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 862px;
    padding: 96px 0px 0px;
    background-image: url("/image/home/Home\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    width: 683px;
    height: 371px;
  }

  .home-text {
    font-family: Baloo;
    font-weight: 400;
    font-size: 24px;
    line-height: 26.4px;
    letter-spacing: -1%;

    padding: 32px 0;
  }
}
.uniqueness {
  width: 375px;
  height: 874px;
  margin: auto;
  padding: 235px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/uniqueness/Uniqueness.png");
}

.uniqueness-text-bold {
  font-family: Baloo;
  font-weight: 400;
  font-size: 36px;
  line-height: 39.6px;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
}
.uniqueness-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.56px;
  letter-spacing: 0%;
  padding-top: 23px;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    height: 890px;
    padding: 282px 382px 0;
    background-image: url("/image/uniqueness/Uniqueness\ \(1\).png");
  }

  .uniqueness-text-bold {
    font-family: Baloo;
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: -1%;
  }
  .uniqueness-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.56px;
    letter-spacing: 0%;
    padding-top: 60px;
  }
}
.about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}

.about-title {
  text-transform: uppercase;
  font-family: Baloo;
  font-weight: 400;
  font-size: 36px;
  line-height: 39.6px;
  letter-spacing: -1%;
}

.about-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.56px;
  letter-spacing: 0%;
  padding: 32px 0px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 80px 100px;
    width: 1440px;
    display: flex;
    gap: 112px;
    align-items: start;
    justify-content: start;
  }

  .about-title {
    font-family: Baloo;
    font-weight: 400;
    font-size: 36px;
    line-height: 39.6px;
    letter-spacing: -1%;
  }

  .about-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.56px;
    letter-spacing: 0%;
    gap: 30px;
    padding: 0;
    width: 845px;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  background: rgba(233, 243, 255, 1);
}
.how-image {
  width: 170.13197326660156px;
  height: 144.5901641845703px;
  margin-left: 189px;
  margin-top: -30px;
  margin-bottom: -70px;
  position: relative;
  z-index: 2;
}
.how-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.how-item {
  width: 343px;
  height: 296px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/image/how/Card\ \(2\).png");
}

.how-number {
  font-family: Baloo;
  font-weight: 400;
  font-size: 18px;
  line-height: 19.8px;
  letter-spacing: -1%;
  color: rgba(255, 255, 255, 1);
  width: 34px;
  height: 34px;
  border-radius: 40px;
  background: rgba(108, 164, 221, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-text-bold {
  padding: 12px 0;
  font-family: Baloo;
  font-weight: 400;
  font-size: 24px;
  line-height: 26.4px;
  letter-spacing: -1%;
  text-transform: uppercase;
  padding: 40px 0 16px;
}
.how-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.56px;
  letter-spacing: 0%;
  color: rgba(49, 50, 52, 1);
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    padding: 80px 80px 100px;
  }
  .how-image {
    width: 289px;
    height: 246px;

    margin-left: 1059px;
    margin-top: -150px;
    margin-bottom: -20px;
    position: relative;
    z-index: 2;
  }
  .how-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .how-item {
    width: 410px;
    height: 296px;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 40px 0 40px 16px;
  background: rgba(233, 243, 255, 1);
}

.reviews-list {
  width: auto;
  padding-top: 32px;
  margin: auto;
}
.reviews-item {
  margin: 0 4px;
  width: 284px;
  height: 370px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  background: rgba(255, 255, 255, 1);
}
.reviews-img {
  margin: auto;
}
.reviews-item-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 23px;
  height: 266px;
}
.reviews-text-bold {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0%;
  color: rgba(138, 142, 146, 1);
}
.reviews-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    margin: auto;
    padding: 80px 0 100px 80px;
  }

  .reviews-list {
    padding-top: 62px;
  }
}

.features {
  width: 375px;
  margin: auto;
  padding: 40px 0px 40px 16px;
}

.features-list {
  padding-top: 32px;
  margin: auto;
}
.features-item {
  margin: 0 5px;
  width: 322px;
  height: 602px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/Card.png");
}
.features-img {
  width: 274px;
  height: 302px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(233, 243, 255, 1);
}
.features-text-bold {
  font-family: Baloo;
  font-weight: 400;
  font-size: 24px;
  line-height: 26.4px;
  letter-spacing: -1%;
  text-transform: uppercase;
  height: 52px;
  margin: 24px 0 16px;
}
.features-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.56px;
  letter-spacing: 0%;
  color: rgba(49, 50, 52, 1);
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 80px 0px 100px 80px;
  }

  .features-list {
    padding-top: 60px;
    margin: auto;
  }
  .features-item {
    margin: 0 12px;
    width: 374px;
    height: 602px;

    background-image: url("/image/features/Card\ \(1\).png");
  }
  .features-img {
    width: 326px;
    height: 302px;
  }
}
.footer {
  background: rgba(108, 164, 221, 1);

  color: #ffffff;
  padding: 40px 0px 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.footer-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 92px 100px 60px;
  }
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 32px;
  }
  .footer-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0%;
  }
}
.policy-terms-container {
  padding: 84px 16px 40px;
}
.policy-terms-title {
  font-family: Baloo;
  font-weight: 400;
  font-size: 36px;
  line-height: 39.6px;
  letter-spacing: -1%;

  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Baloo;
  font-weight: 400;
  font-size: 24px;
  line-height: 26.4px;
  letter-spacing: -1%;
  text-transform: uppercase;
  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.56px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.56px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.56px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.56px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 116px 80px 100px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Baloo;
    font-weight: 400;
    font-size: 36px;
    line-height: 39.6px;
    letter-spacing: -1%;
  }

  .policy-terms-text {
    font-family: Baloo;
    font-weight: 400;
    font-size: 24px;
    line-height: 26.4px;
    letter-spacing: -1%;

    padding-top: 40px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 24px 16px;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  z-index: 1000;
  display: none;
}

.cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.56px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(24, 27, 29, 1);
}
.cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.cookie-button {
  width: 167.5px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 0;
  background: rgba(233, 243, 255, 1);
  border: 1px solid rgba(108, 164, 221, 1);
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(108, 164, 221, 1);
}
#accept-cookies {
  background: rgba(108, 164, 221, 1);
  color: rgba(255, 255, 255, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.56px;
    letter-spacing: 0%;

    width: 837px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 40px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
